:root{
    --bright-green: #C0DFA1;
    --olive-green: #9FC490;
    --green-blue: #82A3A1;
    --charcoal: #465362;
    --oxford-blue: #011936;

    --beige:#DCC48E;
    --sand: #EAEFD3;
    --grey-green: #B3C0A4;
    --grey: #505168;
    --white: #FEFCFB;
}

#index-container { /* BASIC LAYOUT FOR ENTIRE PAGE */
    display: grid;
    background-color: var(--grey); /*for debugging purposes*/
    grid-template: 10vh 60vh 30vh / 1fr 1fr;
    gap: 1vh;
}



header{
    display: flex;
    align-items: center;
    color: var(--sand);
    letter-spacing: 5px;
    padding: 1vh;
    
}

img {
    height: auto;
    width: 30vw;
    border-radius: 300px; /*makes the image a circle*/
    padding: 3vw;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end; /*places text at bottom of grid*/
    padding: 1vh;
    color: var(--sand);

}

.main-container {
    display: grid;
    grid-column: span 2;
    justify-content: space-around ;
    align-items: center;
    justify-items: center;

}

.more-container {
    display: grid;
    grid-column: span 2;
    justify-content: space-around ;
    align-items: center;
    justify-items: center;
}

.main-content-container {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.img-container {
    display: flex;
    margin: 0 5% 0 10%;
}

.bio-short {
    display: grid;
    margin: 0 10% 0 5%;
    color: var(--sand);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


