:root{
    --bright-green: #C0DFA1;
    --olive-green: #9FC490;
    --green-blue: #82A3A1;
    --charcoal: #465362;
    --oxford-blue: #011936;

    --beige:#DCC48E;
    --sand: #EAEFD3;
    --grey-green: #B3C0A4;
    --grey: #505168;
    --white: #FEFCFB;
}

#index-container { /* BASIC LAYOUT FOR ENTIRE PAGE */
    display: grid;
    background-color: var(--grey-green); /*for debugging purposes*/
    grid-template: 10vh 60vh 30vh / 1fr 1fr;
    gap: 1vh;
}

header{
    display: flex;
    /* flex-wrap: wrap; */
    /* grid-column: span; */
    align-items: center;
    border: dashed var(--sand);
    padding: 1vh;
    /* margin: 1vh; */
}

img {
    height: 30vh;
    width: 30vh;
    border-radius: 200px; /*makes the image a circle*/
    padding: 3vw;
}

nav {
    display: flex;
    flex-direction: column;
    /* align-content: flex-end; */
    justify-content: end;
    align-items: end; /*places text at bottom of grid*/
    padding: 1vh;
    border: dashed var(--sand);
}

.main-container {
    display: grid;
    grid-column: span 2;
    /* align-content: center; */
    justify-content: space-around ;
    align-items: center;
    justify-items: center;

}

.more-container {
    display: grid;
    grid-column: span 2;
    /* align-content: center; */
    justify-content: space-around ;
    align-items: center;
    justify-items: center;
}

.main-content-container {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.img-container {
    display: flex;
    /* justify-content: space-around; */
}

.bio-short {
    /* display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center; */
    display: grid;
    padding: 2% 2% 0 0;
}


