:root{
    /* ORIGINAL COLOR PALLETE */
    /* --bright-green: #C0DFA1;
    --olive-green: #9FC490;
    --green-blue: #82A3A1;
    --charcoal: #465362;
    --oxford-blue: #011936; */

    /* PREVIOUS COLOR PALLETE */
    /* --beige:#DCC48E;
    --white: #EAEFD3;
    --grey-green: #B3C0A4;
    --grey: #505168;
    --white: ##F5EFED; */

    /* NEW COLOR PALLETE */
    --grey: #505168;
    --white: #F5EFED;
    --red: #BB342F;
    --teal: #50A2A7;
    --grey-teal: #66999B;
    --blue: #5F86A6;

}

/* GLOBAL STYLES */
body {
    background-color: var(--grey);
}

header{ 
    display: flex;
    align-items: center;
    color: var(--white);
    letter-spacing: 5px;
    padding: 1vh;
    font-family: 'Geologica', sans-serif;    
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end; /*places text at bottom of grid*/
    padding: 1vh;
    color: var(--white);

}

img {
    height: auto;
    width: 30vw;
    border-radius: 300px; /*makes the image a circle*/
    padding: 3vw;
}

a {
    color: var(--white);
    font-family: 'Geologica', sans-serif;
    /* text-decoration: none; */
}

/* INDEX SPECIFIC STYLES */

#index-container { /* BASIC LAYOUT FOR ENTIRE PAGE */
    display: grid;
    grid-template: 1fr 3fr 2fr 1fr / 1fr 1fr;
    gap: 1vh;
}

.main-container {
    display: grid;
    grid-column: span 2;
    justify-content: space-around ;
    align-items: center;
    justify-items: center;

}

.more-container {
    display: grid;
    grid-column: span 2;
    justify-content: space-around ;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    color: var(--white);
    font-family: 'Geologica', sans-serif;
    /* margin: 5%; */

}

.main-content-container {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.img-container {
    display: flex;
    margin: 0 5% 0 10%;
}

.bio-short {
    display: grid;
    margin: 0 10% 0 5%;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* WORK PAGE STYLES */

/* ABOUT PAGE STYLES */


